//  --------------------------------------------------------------------------------
//  Contains style that are specific for home page
//  --------------------------------------------------------------------------------
#app {


}

.game {
  height: 100vh;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  position: relative;
  height: 100%;
}

.game-header {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  background: #1d1d20;
  &_box {
    display: flex;
  }
  &_box.left {
    min-width: 9.8rem;
  }
  &_box.right {
    button {
      margin: 1rem 0rem 1rem 0;
    }
  }
}

.tiles {

}

.tiles-word {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiles-word_letter {
  width: 6.2rem;
  height: 6.2rem;
  border: 3px solid #2f2f2f;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 28px;
  position: relative;
  z-index: 3;
  background: #1d1d20;

}
.tiles-word_letter.active {
  border-color: #646464;
  transition: border .1s;
}
.tiles-word_letter.grey {
  background: #919191;
}
.tiles-word_letter.orange {
  background: #d3952a;
  animation-name: flip-horizontal-bottom;
  animation-duration: 1s;
}
.tiles-word_letter.green {
  background: limegreen;
}

@-webkit-keyframes flip-horizontal-bottom{
  0%{
    -webkit-transform:rotateX(0);transform:rotateX(0)
  }
  100%{-webkit-transform:rotateX(-180deg);transform:rotateX(-180deg)}
}
@keyframes flip-horizontal-bottom{
  0%{
    -webkit-transform:rotateX(0);
    transform:rotateX(0)}
  100%{
    -webkit-transform:rotateX(-180deg);transform:rotateX(-180deg)
  }
}

.keyboard {
  margin-bottom: 2rem;
}


.keyboard-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.keyboard-row_letter {
  width: 4rem;
  height: 5.8rem;
  cursor: pointer;
  margin: 0.2rem;
  padding: 0;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  background: #636363;
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid #4d4d4d;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.keyboard-row_letter.big {
  width: 4rem;
}

.keyboard-row_letter.correct {
  background: limegreen;
}

.keyboard-row_letter.found {
  background: #d3952a;
}

.keyboard-row_letter.wrong {
  background: #919191;
}
