//  --------------------------------------------------------------------------------
//  Contains all style related to button component
//  --------------------------------------------------------------------------------

//
// Base styles
//
.button {
    display: inline-block;
    //font-weight:
    text-align:center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    //border:

    // Share hover and focus style
    @include hover-focus {
        text-decoration: none;
    }

    &:focus,
    &.focus {
        outline: 0;
        //box-shadow: $button-focus-box-shadow;
    }

    &:not(:disabled):not(.disabled) {
       cursor: pointer;
    }

    //....
}