//  --------------------------------------------------------------------------------
//  Contains all style related to header of the site/application
//  --------------------------------------------------------------------------------
h2 {
  font-size: 3.4rem;
  font-weight: 700;
  padding: 1rem 0;
  text-transform: uppercase;
}
